.home-page .map-view {
    padding-top: 0;
    position: relative;
    min-height: 586px;
    max-height: 756px;
    /*border-bottom: 1px solid rgba(0,0,0,0.10);*/
    /*border-bottom: 1px solid #e7e7e7;*/
}

.home-page .map-view #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/map.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page .search {
    position: relative;
    height: 235px;
    /*background-color: #f1f1f1;*/
    background-color: #eceee8;
    padding: 28px 0 40px;
}

.search .top {
    padding: 0 0 28px;
}

.search .global-search {
    position: relative;
}

.global-search .btn {
    border-right: none;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #fff;
}

.global-search #search-keyword {
    border-left: none;
    box-shadow: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background-color: #fff;
}

.global-search .input-lg {
    height: 46px;
}

.global-search .input-lg i {
    color: #a3a3a3;
    font-size: 18px;
    max-width: 100%;
}

/*.search .bottom {*/
    /*padding: 0 0 1px;*/
/*}*/

.search .search-filters {
    position: relative;
}

.search-filters .input-component {
    font-size: 15px;
    width: 100%;
    height: 36px;
    border-radius: 5px;
}

.search-filters .btn {
    width: 165px;
    height: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0 0 2px;
    border-radius: 23px;
    border-color: transparent;
    background-color: #97be32;
}

.search-filters .bottom-btn {
    text-align: center;
    padding: 64px 0 0 0;
}

.search-filters .btn:hover {
    background-color: #8faf50;
    /*opacity: 0.7;*/
}

.search-filters .btn:enabled {
    border-color: transparent;
}

.search-filters .btn:focus {
    background-color: #97be32 !important;
}

.home-page .main-content {
    padding: 30px 0 0;
    min-height: 800px;
}

.main-content .layout-sidebar {
    position: relative;
}

.layout-sidebar .aller {
    display: block;
    padding: 4px 10px;
    background-color: #eceee8;
    border-radius: 23px;
}

.layout-sidebar .aller-container {
    width: 100%;
}

.aller-container a:hover {
    text-decoration: underline;
    color: #8faf50;
    font-weight: 600;
}

.aller .badge {
    margin-left: 20px;
    background-color: #97be32;
}

.sidebar-title {
    font-size: 18px;
    text-transform: uppercase;
}

.sidebar-highlights {
    padding: 20px;
    background-color: #97be32;
    /*background-color: #c2da9f;*/
}

.sidebar-highlights span {
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    /*margin-bottom: 5px;*/
}

.sidebar-highlights .sidebar-title {
    color: #fff;
}

.sidebar-highlights .highlights-countries {
    padding: 0 0 10px;
}

.sidebar-list-title {
    margin-bottom: 20px;
}

.sidebar-content {
    padding: 30px 0 19px;
    border-bottom: 3px solid #eceee8;
}

.sidebar-filter-list {
    display: block;
}

.sidebar-filter-list li {
    margin-bottom: 3px;
    line-height: 1.2;
    padding-bottom: 8px;
}

.main-content .layout-spacer {
    padding: 0;
}

.main-content .layout-content {
    position: relative;
}

.layout-content h1 {
    padding-bottom: 30px;
}

.layout-content .content-item {
    padding: 20px;
    border-bottom: 1px solid #eceee8;;
    /*border: 1px solid #eceee8;*/
    background-color: #fff;
}

.content-item h3 {
    margin-bottom: 10px;
}

.content-item h3 a {
    font-size: 16px;
    font-weight: 600;
    display: inline;
    color: #97be32;
}

.content-item h3 a:hover {
    text-decoration: underline;
    color: #8faf50;
}


@media (max-width: 992px) {
    .home-page .search {
        height: 415px;
    }

    .search-filters {
        padding: 0 15px 0 15px;
    }

    .search-filters .filter-field {
        padding: 10px 0 10px;
    }

    .search-filters .bottom-btn {
        text-align: center;
        padding: 20px 0 0 0;
    }
}


